<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Internal LSRetail</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIAppFonts</key>
	<array>
		<string>grialiconsline.ttf</string>
		<string>grialiconsfill.ttf</string>
		<string>fa-brands-400.ttf</string>
		<string>fa-regular-400.ttf</string>
		<string>fa-solid-900.ttf</string>
		<string>ionicons.ttf</string>
		<string>line-awesome.ttf</string>
		<string>MaterialIcons-Regular.ttf</string>
		<string>materialdesignicons-webfont.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSansPro-Bold.ttf</string>
		<string>Billabong.ttf</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>Application has localised display name</key>
	<true/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>es_MX</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>Custom Property</key>
	<string></string>
	<key>CFBundleDisplayName</key>
	<string>Internal LSRetail</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Application needs to use camera to scan codes and take pictures</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Application needs access to photos.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Some description</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Some description</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Some description</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Some description</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Some description</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Some description</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Some description</string>
	<key>NSMotionUsageDescription</key>
	<string>Some description</string>
	<key>NSLocationWhenInUseUsageDescription </key>
	<string>Location ok</string>
	<key>BluetoothPeripheralUsageDescription </key>
	<string>Bluetooth ok</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleVersion</key>
	<string>3.1.9</string>
	<key>CFBundleIdentifier</key>
	<string>com.internal.dafc</string>
	<key>MX_MOBILE_LICENSE</key>
	<string>lOuRzo5EovBP9wVLdP4vdkvL01hseRFgSnHxpjXcewU=</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
